.nav-item{
    margin-left: 0px;
}
.nav-link{
    margin-left: 30px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.nav-link.a{
margin-left: 30px;
}

.nav-link:hover{
    color: white;
    background-color: rgb(59, 55, 55);
}
.container-fluid{
    width:auto;
}