<app-header style="top: 0; position: fixed;"></app-header>

<div class="container">

    <div class="demo">
         <img src="assets/images/calls demo.png" alt="">
    </div>

    <div class="contact">
        <h2><a href="https://www.facebook.com/mibei.kimutaiismael"><i class="fa-brands fa-facebook"></i>FaceBook</a></h2>
        <h2><a href="https://twitter.com/@MibeiIsmael"><i class="fa-brands fa-square-twitter"></i>Twitter</a></h2>
        <h2><a href="tel:0722612266"><i class="fa fa-phone"></i>Phone Call</a></h2>
        <h2><a href="https://www.instagram.com/mibeikimutai/"><i class="fa-brands fa-square-instagram"></i>Instagram</a></h2>
    </div>

</div>
